* {
    box-sizing: border-box;
}

body {
    background-color: #e4aa23;
    color: #fff1d2;
    font-family: sans-serif;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin: 0.3em;
}

h2 {
    font-size: 2em;
    margin: 0;
}

.bayan-item {
    border-top: 0.1em solid #ffefccc3;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.5s;
}

.meme-text:hover {
    color: #937436;
    transition-duration: 0.5s;
}

.drop-btn {
    width: 2em;
    height: 2em;
    background: url(./assets/open.svg) no-repeat;
}

.meme-img {
    width: 0%;
    margin-top: 2em;
    transition-duration: 0.5s;
}

.bayan-item:hover {
    cursor: pointer;
}

.bayan-item:hover .meme-img{
    width: 40%;
    transition-duration: 0.5s;
}